{% extends 'adminlte/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% load widget_tweaks %}
<!--    {{form | crispy }}-->
    {{form.name|add_class:'form-control'}}
    {{form.branch|add_class:'form-comtrol'}}
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}