{% extends 'adminlte/base.html' %}
{% block content %}

<div class="row">

    <div class="col-sm-12 ">
        <div class="box">
            <div class="box-footer">
                <h3>Reviews</h3>
            </div>
            <div class="box-body">
                <p></p>
                <table class="table table-bordered">
                    <tr>
                    </tr>
                    <tr>
                        <th>Answers</th>

                    </tr>
                    {% for review in reviews %}
                    <tr>
                        <td>{{forloop.counter}}.{{ review.answer_only }}</td>
                    </tr>
                    {% endfor %}

                </table>
<!--                {% if not is_registered %}-->
<!--                    <form action="#" method="post">-->
<!--                        {% csrf_token %}-->
<!--                        Do you want to register to this event?? <br>-->
<!--                        <input type="submit" class="btn btn-success btn-sm float-right " value="YES! Register">-->
<!--                    </form>-->
<!--                {% else %}-->
<!--                <div class="alert alert-success">-->
<!--                    You already have Registered to this event!-->
<!--                </div>-->
<!--                {% endif %}-->

            </div>
<!--            <div class="box-footer">-->
<!--                <table class="table table-bordered">-->
<!--                    <tr>-->
<!--                        <th>Participant</th>-->
<!--                        <th>Position</th>-->
<!--                    </tr>-->
<!--                    {% for regn in object.registration_set.all %}-->
<!--                    <tr>-->
<!--                        <td>{{ regn.user.get_full_name|default:regn.user.username }}</td>-->
<!--                        <td>{{ regn.position|default:"-" }}  {% if regn.point > 0 %}( {{ regn.point }} Points) {% endif %}</td>-->
<!--                    </tr>-->
<!--                    {% empty %}-->
<!--                    <tr>-->
<!--                        <td colspan="100%">There are no participants currently registered!</td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                </table>-->
<!--            </div>-->
        </div>
    </div>
</div>
{% endblock %}