{% extends 'adminlte/base.html' %}
{% block content %}

<div class="row">

    <div class="col-sm-12 ">
        <div class="box">
            <div class="box-footer">
                <h3>Reviews</h3>
            </div>
            <div class="box-body">
                <p></p>
                <table class="table table-bordered">
                    <tr>
                    </tr>
                    <tr><th>Question</th>
                        <th>Answers</th>

                    </tr>
                    {% for review in reviews %}
                    <tr>

                        <td>{{forloop.counter}}.{{ review.question.title }}</td>
                        <td>{{ review.answer_only }}</td>
                    </tr>
                    {% endfor %}

                </table>

            </div>

        </div>
    </div>
</div>
{% endblock %}