{% extends 'adminlte/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="box-body">
                <p></p>
                <h3>Question List</h3>
                <table class="table table-bordered">
                    <tr>
                    </tr>
                    <tr>
                        <th> Questions </th>

                    </tr>
                    {% for question in objects %}
                    <tr>
                        <td>{{forloop.counter}}.<a href="{% url 'latest-review-detail' question.id %}">{{ question.title }}</a></td>
                    </tr>
                    {% endfor %}

                </table>
                    {% include "adminlte/lib/pagination.html"%}

</div>



<div>
    <h3>Add Question</h3>
    <form action="{% url 'add-question' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

        {% load widget_tweaks %}
      {% for field in form1.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button id="add_option" >Add option</button>
    <button id="hide" >Hide</button>

    <div id ="option_form">
        {{ form2|crispy}}
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>

    $(document).ready(function(){

        $("#option_form").hide();
        $("#hide").hide();

        $("#add_option").click(function() {
            $("#option_form").show();
<!--            $("#add_option").prop("value", "Hide");-->
            $("#hide").show();

        });
        $("#hide").click(function(){
            $("#option_form").hide();
            $("#hide").hide();

        });

    });


</script>
{% endblock %}