{% extends 'adminlte/base.html' %}{% load crispy_forms_tags %}

{% block content %}
<div>
    <h3>Add Survey</h3>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% load widget_tweaks %}
      {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-primary">Submit</button>
</form>
</div>

            <div class="box-body">
                <p></p>
                <h3>Survey List</h3>
                <table class="table table-bordered">
                    <tr>
                    </tr>
                    <tr>
                        <th> Survey </th>
                        <th>Branch</th>

                    </tr>
                    {% for survey in objects %}
                    <tr>
                        <td>{{forloop.counter}}.<a href="{% url  'question-list' survey.id %}">{{ survey.name }}</a></td>
                        <td>{{ survey.branch }}</td>
                    </tr>
                    {% endfor %}
                </table>
                                {% include "adminlte/lib/pagination.html"%}

            </div>


{% endblock %}