
{% if is_paginated %}
<div>
<!--  <ul class="pagination justify-content-center">-->
<!--    {% if page_obj.has_previous %}-->
<!--    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>-->
<!--    {% endif %}-->
<!--      <span class='mx-4'>-->
<!--      Page  of {{ page_obj.paginator.num_pages }}-->
<!--    </span>-->
<!--    {% if page_obj.has_next %}-->
<!--    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>-->

<!--    {% endif %}-->
<!--  </ul>-->
  <ul class="pagination">
    {% if page_obj.has_previous %}<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>{% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>{% endif %}
  </ul>
</div>
{% endif %}